<template name="agregateIdeas">
  <div class="ui centered stackable grid">
    <div class="ten wide column">
      <div class="ui icon labeled button primary" id="newAgregatedIdea">
        <i class="sitemap icon"></i>
        Nueva Idea Agregada
      </div>
      {{#if newAgregatedIdea}}
				{{>yield "newAgregatedIdea"}}
			{{/if}}
    </div>
    <div class="sixteen wide column">
      {{#masonryContainer id="ideaList-container" itemSelector=".idea"}}
        {{#each ideas}}
          {{#unless isAgregated}}
            {{#masonryElement "ideaList-container"}}
                <div class="idea">
                {{> ideaCheckboxItem}}
                </div>
            {{/masonryElement}}
          {{/unless}}
        {{/each}}

      {{/masonryContainer}}
    </div>
  </div>
</template>
