<template name="ideaListItem">
  <div class="ui card">
      <div class="content">
          <div class="header">
             <a href="{{pathFor 'ideaPage'}}">{{title}}</a>
          </div>
          <div class="meta">
          <span>
              <i class="user icon"></i>
              {{whoIs owner}}
          </span>
          </div>
          <br>
          <div class="description">
              {{description}}
          </div>
          <div class="ui right floated segment">
            <div class="ui fitted toggle checkbox">
              <input type="checkbox" name="public">
              <label></label>
            </div>
          </div>

      </div>

  </div>

</template>
