.ui {
  &.segment {
    &.box {
        .big {
          &.avatar {
            @include default-avatar($size:40px);
            font: 25px/23px Helvetica,Arial,sans-serif;
            padding: 10px 3px 0 3px;
            display: inline-block;
          }
        }
        .title {
          font: 1.7em Helvetica,Arial,sans-serif;
          width: 80%;
          display: block;
          color: #222;
          position: relative;
          left: 65px;
          top: -40px;
        }

        .metadata{
          .username{
            font: 1em Helvetica,Arial,sans-serif;
            color: #646464;
            font-weight: bold;
            position: relative;
            left: 65px;
            top: -25px;
            width: auto;
            display: inline-block;
          }
          .created-at {
            position: relative;
            left: 70px;
            top: -25px;
            width: auto;
            display: inline-block;
          }
        }

        .content {
          padding: 0 5px 10px 5px;
          margin: 0 10px 0 25px;
          & img {
            max-width: 80%;
          }
        }

      }
    }

    &.card {
      &.box {

        .avatar {
          position:relative;
          overflow:hidden;
          margin:left;
          -webkit-border-radius:50%;
          border-radius:50%;
        }
        .title {
          font: 1.2em Helvetica,Arial,sans-serif;
          font-weight: bold;
          width: 80%;
          display: block;
          color: #222;
          position: relative;
          left: 45px;
          top: -32px;
        }

        .metadata{
          font: 0.85em Helvetica,Arial,sans-serif;
          .username{
            color: #646464;
            font-weight: bold;
            position: relative;
            left: 25px;
            top: -20px;

            width: auto;
            display: inline-block;
            margin-right: 30px;
          }
          .created-at {
            position: relative;
            width: auto;
            display: inline-block;
            top: -20px;

          }
        }

        .content {
          padding: 0 5px 10px 5px;
          margin: 15px 10px 0 25px;
          & img {
            max-width: 80%;
          }
        }
      }
    }

    .profile {
      margin: 10px;
      display: inline-block;
    }
  }


.idea {
  margin: 10px;
}
