@import 'avatar';
@import 'box';
@import 'tooltip';

.ui.grid {
  background:none;

  }

  .ui.secondary.menu {
    background: white;
  }

body {
  background-image: url("http://i.imgur.com/oEkwk.jpg");
}
