<template name="leaveDebate">
<div class="ui labeled icon button" id="leave-debate">
  <i class="sign out icon"></i>
  Abandonar debate
</div>

<div class="ui small basic test modal">
  <div class="ui icon header">
    <i class="sign out icon"></i>
    ¿Quieres abandonar el debate?
  </div>
  <div class="content">
    <div class="ui inverted relaxed divided list">
      <div class="item">
        <div class="content">
          <div class="header">Si abandonas el debate, no podrás añadir nuevas ideas o comentarios.</div>
          Una vez hayas abandonado el debate, puedes volver a solictar acceso pinchando en el botón participar.
        <br>
        <br>
          <div class="ui left floated tiny button">
            <i class="add user icon"></i>
            Participar
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Las ideas y comentarios que hayas realizado no serán eliminadas.</div>
        </div>
      </div>
    </div>

  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Sí
    </div>
  </div>
</div>


</template>
