<template name="debatePage">
	<div class="ui centered stackable grid">
		<div class="ten wide column">
				{{#if isOwner owner}}
					{{#if minimumIdeas}}
						{{> yield "controlPanel"}}
					{{/if}}
					{{#if accessRequest}}
						{{> yield "accessRequest"}}
					{{/if}}
				{{/if}}
			<div class="ui segment box">
				{{>bigAvatar _id=owner}}
				<div class="title">
					{{title}}
				</div>
				<div class="metadata">
					<div class="username">
						<i class="user icon"></i>
						{{whoIs owner}}
					</div>
					<div class="created-at">
						<i class="time icon"></i>
						{{formatDate createdAt}}
					</div>
				</div>
				<div class="content">
					{{#markdown}}{{description}}{{/markdown}}
				</div>
			</div>
			<a class="ui primary submit labeled icon button" id="new-idea"><i class="idea icon"></i> Añadir Idea</a>
			{{#if newIdea}}
				{{>yield "newIdea"}}
			{{/if}}

		</div>
		<div class="fifteen wide column">
			{{#masonryContainer id="ideas-container"}}
				{{#each ideas}}
								{{#masonryElement "ideas-container"}}
										<div class="idea">
										{{> ideaItem}}
										</div>
								{{/masonryElement}}
				{{/each}}
			{{/masonryContainer}}
		</div>

	</div>
</template>
