<template name="debateItem">
  <div class="ui segment">
    <div class="ui grid">
      <div class="one wide column">
        {{> avatar _id =owner}}
      </div>
      <div class="seven wide column">
        <a href="{{pathFor 'debatePage'}}">{{title}}</a>
      </div>
      <div class="two wide column">
        {{formatDate activity}}
      </div>
      <div class="one wide column">
        <p>
          {{ideasCount}}
        </p>
      </div>
      <div class="one wide column">
        {{commentsCount}}
      </div>
      <div class="three wide column">
        <div class="ui grid">
          {{#each activeUsers}}
          <div class="one wide column">
            {{>avatar _id=this}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="noDebates">
  <div class="ui segment">
    <div class="ui dividing header">
      <i class="settings icon"></i>
      <div class="content">
        No perteneces a ningún Debate
        <div class="sub header">Crea uno nuevo o espera a recibir alguna invitación.</div>
      </div>
    </div>
  </div>
</template>
