<template name="debatePage">
	<div class="ui centered stackable grid">
		<div class="ten wide column">
				{{#if isOwner owner}}
					{{#if minimumIdeas}}
						{{> yield "controlPanel"}}
					{{/if}}
					{{#if accessRequest}}
						{{> yield "accessRequest"}}
					{{/if}}
				{{else}}
					{{>yield "leaveDebate"}}
				{{/if}}
			<div class="ui segment box">
				{{>bigAvatar _id=owner}}
				<div class="title">
					{{title}}
				</div>
				<div class="metadata">
					<div class="username">
						<i class="user icon"></i>
						{{whoIs owner}}
					</div>
					<div class="created-at">
						<i class="time icon"></i>
						{{formatDate createdAt}}
					</div>
				</div>
				<div class="content">
					{{#markdown}}{{description}}{{/markdown}}
				</div>
			</div>
			<div class="ui segment">
				{{> yield "statistics"}}
			</div>
			<a class="ui primary submit labeled icon button" id="new-idea"><i class="idea icon"></i> Añadir Idea</a>
			{{#if newIdea}}
				{{>yield "newIdea"}}
			{{/if}}

		</div>
		<div class="sixteen wide column">
			{{#masonryContainer id="ideas-container"}}
				{{#each ideas}}
								{{#masonryElement "ideas-container"}}
										<div class="idea">
										{{> ideaItem}}
										</div>
								{{/masonryElement}}
				{{/each}}
			{{/masonryContainer}}
		</div>

	</div>
</template>

<template name="statistics">
	<div class="ui four mini statistics">
		<div class="ui statistic">
			<div class="value">
				<i class="idea icon"></i>
				{{ideasCount}}
			</div>
			<div class="label">
				{{getPlural ideasCount "Idea"}}
			</div>
		</div>
		<div class="ui statistic">
			<div class="value">
				<i class="comments icon"></i>
				{{commentsCount}}
			</div>
			<div class="label">
				{{getPlural commentsCount "Comentario"}}
			</div>
		</div>
		<div class="ui statistic">
			<div class="value">
				<i class="users icon"></i>
				{{howMany members ''}}
			</div>
			<div class="label">
				{{getPlural members "Usuario"}}
			</div>
		</div>

		<div class="ui statistic">
			<div class="value">
				<i class="eye icon"></i>
				{{views}}
			</div>
			<div class="label">
				{{getPlural views "Visita"}}
			</div>
		</div>
	</div>
</template>
