<template name="debatesList">
  <div class="ui centered stackable grid">
    <div class="ten wide column">
      <a class="ui primary submit labeled icon button" href="{{pathFor 'newDebate'}}"><i class="write icon"></i> Nuevo Debate</a>
      <br>
      <div class="ui stacked segments">
        <div class="ui inverted segment">
          <div class="ui grid">
            <div class="eight wide center aligned column">
            <i class="newspaper icon"></i> Mis Debates
            </div>
            <div class="two wide center aligned column">
              <i class="fire icon"></i>
            </div>
            <div class="one wide center aligned column">
              <i class="idea icon"></i>
            </div>
            <div class="one wide center aligned column">
              <i class="comments outline icon"></i>
            </div>
            <div class="three wide center aligned column">
              <i class="users icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="ui stacked segments">
        {{#each debates}}
          {{> debateItem}}
        {{/each}}
        {{#if thereIsNone debates}}
          {{> noDebates}}
        {{/if}}
      </div>

    </div>
  </div>


</template>
