<template name="debatePage">
	<div class="ui centered stackable grid">
		<div class="fourteen wide column">
				{{#if isOwner owner}}
					{{#if minimumIdeas}}
						{{> yield "controlPanel"}}
					{{/if}}
					{{#if accessRequest}}
						{{> yield "accessRequest"}}
					{{/if}}
				{{/if}}
			<div class="ui segment">
        <h2 class="ui header">{{title}}</h2>
        <div class="sub header">
            <i class="calendar outline icon pull right"></i> Creado el {{formatDate createdAt}} por
            <i class="user icon"></i> {{whoIs owner}}
        </div>
        <h4 class="ui horizontal header divider"><i class="newspaper icon"></i></h4>
        <p>{{#markdown}}{{description}}{{/markdown}}</p>

      	<h4 class="ui horizontal header divider"><i class="idea icon"></i></h4>
      	{{#each ideas}}
      	  {{> ideaItem}}
      	{{/each}}
      	<a class="ui green button" id="new-idea"><i class="idea icon"></i> Añadir Idea</a>
      	{{#if newIdea}}
      	  {{>yield "newIdea"}}
      	{{/if}}
			</div>
		</div>
	</div>
</template>
