<template name="ideaItem">
    <div class="ui card">
        <div class="content">
            <div class="header">
               <a href="{{pathFor 'ideaPage'}}">{{title}}</a>
            </div>
            <div class="meta">
            <span>
                <i class="user icon"></i>
                {{whoIs owner}}
            </span>
            </div>
            <br>
            <div class="description">
              {{#markdown}}{{description}}{{/markdown}}
            </div>
        </div>
    </div>
</template>
