<template name="ideaItem">
    <div class="ui card box">
      <div class="profile">
        {{>avatar _id=owner}}
      </div>
      <div class="title">
          <a href="{{pathFor 'ideaPage'}}">{{title}}</a>
      </div>
      <div class="metadata">
        <div class="username">
          <i class="user icon"></i>
          {{whoIs owner}}
        </div>
        <div class="created-at">
          <i class="time icon"></i>
          {{formatDate createdAt}}
        </div>
      </div>
      <div class="content">
        <div class="ui labels">
        {{#each tags}}
          <div class="ui label">
            <i class="idea icon"></i>
            {{this}}
          </div>
        {{/each}}
        </div>
      </div>

        <div class="extra content">
          <div class="ui two buttons">
            <a href="{{pathFor 'ideaPage'}}" class="ui blue basic button">
                <i class="blue comments icon"></i>
              {{howMany commentsCount ''}}
            </a>
            {{#if hasVoted _id voters}}
            <div class="ui basic red button upvote" data-id="{{_id}}">
              <i class="red heart icon"></i>
              {{howMany votes 'voto'}}
            </div>
            {{else}}
            <div class="ui basic red button upvote" data-id="{{_id}}">
              <i class="heart icon"></i>
              {{howMany votes 'voto'}}
            </div>
            {{/if}}
          </div>

        </div>

    </div>
</template>
