<template name="ideaPage">
  <div class="ui centered stackable grid">
    <div class="ten wide column">
      <div class="ui segment box">
        {{>bigAvatar _id=owner}}
        <div class="title">
          {{title}}
        </div>
        <div class="metadata">
          <div class="username">
            <i class="user icon"></i>
            {{whoIs owner}}
          </div>
          <div class="created-at">
            <i class="time icon"></i>
            {{formatDate createdAt}}
          </div>
        </div>
        <div class="content">
          {{#markdown}}{{description}}{{/markdown}}
        </div>
      </div>

      <div id="new-comment" class="ui primary submit labeled icon button">
        <i class="icon edit"></i> Añadir Comentario
      </div>
      {{#if newComment}}
        {{> yield "newComment"}}
      {{/if}}

      {{#each comments}}
        {{> yield "commentItem"}}
      {{/each}}
  </div>
 </div>
</template>
