<template name="newIdea">
  <div class="ui segment">

    <form class="ui form">
        <h4 class="ui dividing header">
            Añadir Idea
        </h4>
        <div class="field">
            <input name="title" id="title" type="text" value="" placeholder="Titulo">
        </div>
        <div class="field">
            <input name="description" id="description" type="text" value="" placeholder="Descripcion">
        </div>
        <div class="field">
          <div class="ui right labeled left icon input">
            <i class="tags icon"></i>
            <input type="text" placeholder="Escribe palabras separadas por comas relacionadas con la idea">
            <a class="ui tag label">
              Etiquetas
            </a>
          </div>
        </div>
        <input type="submit" value="Enviar" class="ui submit button">
    </form>
  </div>

</template>
