<template name="newIdea">
    <form class="ui form">
        <h4 class="ui dividing header"></h4>
        <h4 class="ui dividing header">
            Añadir Idea
        </h4>
        <div class="field">
            <input name="title" id="title" type="text" value="" placeholder="Titulo">
        </div>
        <div class="field">
            <input name="topic" id="topic" type="text" value="" placeholder="Tema">
        </div>
        <div class="field">
            <input name="description" id="description" type="text" value="" placeholder="Descripcion">
        </div>
        <input type="submit" value="Enviar" class="ui submit button">
    </form>
</template>